@use "../../styles/mixins";

.Reference {
  display: flex;
  flex-direction: column;

  &__title {
    @include mixins.title-normal;

    @media (hover: hover) {
      &:hover {
        color: #ff0000;
        text-decoration: underline;
      }
    }
  }

  &__textPrimary {
    @include mixins.font-size(18);
    @include mixins.font-weight(bold);

    color: var(--color-text-primary);
    background-color: var(--color-background-primary);
  }

  &__textSecondary {
    @include mixins.font-size(23);

    color: var(--color-text-secondary);
    background-color: var(--color-background-secondary);
  }

  &--disabled {
    opacity: 0.5;
    // pointer-events: none;
  }

  &--fontSize14 {
    @include mixins.font-size(14);
  }

  &--fontSize18 {
    @include mixins.font-size(18);
  }

  &--fontSize28 {
    @include mixins.font-size(28);
  }

  & > [class^="undefined BusinessHoursStatus"] {
    background-color: #fff000;
  }

  & > div {
    &:not(:first-of-type) {
      margin-top: 16px;
    } 
  }

  // ▼ 仮で設定 ▼
  h1, div, p {
    margin: 10px 0;
  }
  // ▲ 仮で設定 ▲

  @each $i in (1, 2, 3, 4, 5) {
    &__boxShadow#{$i} {
      @include mixins.box-shadow($i);

      display: flex;
      margin: 10px auto 20px;
      padding: 10px;
    }
  }

}
