:root {
  --color-text-primary: #000000;
  --color-text-secondary: #a200ff;

  --color-background-primary: #ffffff;
  --color-background-secondary: #c2f8ff;

  --color-border-primary: #b1b1b1;
}

// Next.js + CSS Modules では、.module.scss ファイル内では ローカルスコープのみ使用可です。
// body のようなグローバルセレクタは、通常の .scss ファイルか globals.scss に記述すべきです。