@use "../../styles/mixins";

.TooltipWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 640px;
  height: 135px;
  background-color: #fff;

  &__button {
    margin: 0;
    padding: 12px;
    border: 1px solid var(--color-border-primary);

    @include mixins.font-size(18);
  }
}